$FCGrey: #808080;
$FCBlue: #0a7fb6;
$FCSkyBlue: #b1deeb;
$FCLightSkyBlue: #e2edf2;
$FCLightGrey: #c4c4c4;

@mixin customButton {
  background-color: $FCBlue;
  color: white;
  border-radius: 8px;
  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  }
}
