@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts";
@import "./variables";

body,
html,
#root {
  background-color: $FCBackground;
}

.Navigation {
  background-color: white;
  .search-bar {
    height: 48px;
    background: url("../assets/search.png") no-repeat 5% 50%;
    border-radius: $BorderRadius;
    width: 70vh;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10%;
    border-color: $FCGrey;
    &:focus {
      outline: none;
      border-width: 2px;
      border-color: $FCBlue;
    }
  }
  .search-button {
    @include customButton();
    padding: 12px;
    margin-left: 0.7rem;
  }
}

.product-listing {
  margin-top: 72px;

  .listing {
    border-radius: $BorderRadius;
    margin-top: 24px;
    .apply {
      color: $FCBlue;
    }
    input {
      &:focus {
        outline: none;
        border-width: 2px;
        border-color: $FCBlue;
      }
    }
  }
}
